@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&display=swap');

*{
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container{
    display: flex;
    width: 55%;
}

.card{
    min-height: 450px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.card1{
    background-color: hsl(31, 77%, 52%);
    border-radius: 7px 0 0 7px;
}
.card2{
    background-color: hsl(184, 100%, 22%);
}
.card3{
    background-color: hsl(179, 100%, 13%);
    border-radius:  0 7px 7px 0 ;
}

.icon{
    background-color: black;
    height: 40px;

}

.icon1{
    background: url(../images/icon-sedans.svg) no-repeat;
}
.icon2{
    background: url(../images/icon-suvs.svg) no-repeat;
}
.icon3{
    background: url(../images/icon-luxury.svg) no-repeat;
}
p{
    color: hsla(0, 0%, 100%, 0.75);
    font-size: small;
    text-align: left;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: lighter;
    min-height: 150px;
}

a{
    text-decoration: none;
    background-color: white;
    border-radius: 50px; 
    padding: 10px 20px;
}

.link{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: lighter;

}

.link1 a{
    color: hsl(31, 77%, 52%);
}

.link2 a{
  color: hsl(184, 100%, 22%);
}

.link3 a{
  color: hsl(179, 100%, 13%);
}

h2{
    font-family: 'Big Shoulders Display', sans-serif;
    font-weight: 700;
    font-size: xx-large;
    text-transform: uppercase;
    color: hsl(0, 0%, 95%);
    letter-spacing: 3px;

}

@media screen and (max-width: 1105px) {
    .container{
        width: 330px;
    height: 680px;
    flex-direction: column;
   }

   .card{
       border-radius: 7px;
       margin: 2px;
   }
}
